################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeyondCampaign.API/.vs/BeyondCampaign.API/v16/Server/sqlite3
